.header {
  height: 116px;
  background: #006bb3;
  color: white;
}

.header h1 {
  font-size: 50px;
  text-align: left;
  line-height: 10rem;
}

#search{
  position: relative;
  left:69%;
  padding: 18px;
  border: 2px solid white;
  font-size: 18px;
  border-radius: 15px;
  height: 7px;
  color:#006bb3;
  bottom: 10px;
}

#button2{
  background-color:#006bb3;
  border-radius: 20px;
  padding: 8px;
  width: 90px;
  color:white;
  position: absolute;
  right:30px;
  top:10px;
  cursor: pointer;
}

.drop{
  cursor: pointer;
}
.container-fluid{
 background-color: #d0e1e1;
  color: black;
}

.icon{
  line-height:40px;
  color: white;
  margin-left: 5px;
}
#content{
  transition: 0.5s;
}

#heading{
  background-color:#878378;
  color: white;
}



.form-group{
  margin: 15px 0 0 0 ;
  padding: 0 20px;
  color:grey;
}

#s{
height:37px;
width:90%;
}

.sidebar {
  height: 88%;
  width: 0;
  position: absolute;
  top:12%;
  z-index: 0;
  left:0;
  background-color:   #e7e6e4;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidebar .btn{
   margin: 0 0 0 130px  ;
   background-color: #006bb3;
   color: white;
   font-size: 20px;
  padding: 3px 30px;
  text-align: center;
  cursor: pointer;
}
.sidebar a:hover {
  color: #f1f1f1;
}


#tree1{
  position: relative;
  color:  #006bb3;
  font-size: 20px;
  text-align: left;
  top:30px;
  bottom: 30px;
  left:10px;
}

input::-webkit-input-placeholder {
  color: #004d80 !important;
  }

  input:-moz-placeholder { /* Firefox 18- */
  color: #004d80  !important;
  }

  input::-moz-placeholder {  /* Firefox 19+ */
  color:#006bb3 !important;
  }

  input:-ms-input-placeholder {
  color:#006bb3 !important;
  }

  input[type="text"]::placeholder {

    /* Firefox, Chrome, Opera */
    text-align: left;
}

.hl{
color:#006bb3;
}

#t{
font-size:5px; !important
}

html.fontawesome-i2svg-active.fontawesome-i2svg-complete body div#mySidebar.sidebar form div.form-group div.btn-group.custom-btn button.multiselect.dropdown-toggle.form-control.btn{

width:120%;color:#006bb3;background-color:white;font-size:18px;
}

html.fontawesome-i2svg-active.fontawesome-i2svg-complete body div#mySidebar.sidebar form div.form-group input#s{
color:#006bb3;
}


.multiselect.dropdown-toggle.form-control.btn
{
color:#006bb3; !important
background-color:white; !important
font-size: 15px; !important
width: 100%; !important
}

html.fontawesome-i2svg-active.fontawesome-i2svg-complete body div#mySidebar.sidebar form div.form-group div.btn-group.custom-btn button.multiselect.dropdown-toggle.form-control.btn{
margin-left:0;
}

html.fontawesome-i2svg-active.fontawesome-i2svg-complete body div#mySidebar.sidebar form div.form-group div.btn-group.custom-btn button.multiselect.dropdown-toggle.form-control.btn{
margin-left:0;
}

html.fontawesome-i2svg-active.fontawesome-i2svg-complete body div#mySidebar.sidebar form div.form-group div#autocomplete-list.autocomplete-items{
color:#006bb3;
}

#sautocomplete-list
{
color:#006bb3;
border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
}
html.fontawesome-i2svg-active.fontawesome-i2svg-complete body div#mySidebar.sidebar form div.form-group div#sautocomplete-list.autocomplete-items div{
padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

html.fontawesome-i2svg-active.fontawesome-i2svg-complete body div#mySidebar.sidebar form div.form-group div.btn-group.custom-btn.show ul.multiselect-container.dropdown-menu.custom-multi.show li a.multiselect-all label.checkbox{
color:#006bb3;
}
